* {
    font-family: 'Inter', sans-serif;
}


/*--------------Nav-------------------*/

nav{
    background-color: #282a35 !important;
    padding: 16px;
}

ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

li{
    float: left;
    padding: 14px 16px;
}

a{
    color: #ffff;
    text-decoration: none;
    transition: 0.8s ease-in-out !important;
}

a:hover{
    transition: 0.8s ease-in-out !important;
     color: white !important;
}
    .sidebar{
    background-color: #282a35 !important;
}

.underline{
    position: relative !important;
    display: inline-block !important; 
}

.underline:after{
    content: ''; 
  position: absolute; 
  width: 100%; 
  transform: scaleX(0);
  height: 2px; 
  bottom: 0;
  left: 0;
  background-color: #e3e3e3; 
  transform-origin: bottom;
  transition: 0.8s ease-in;
}

.underline:hover::after{
    transform: scaleX(1);
  transform-origin: bottom; 
}

/*--------------Section-------------------*/


section{
    background-color: #f2f2f2;
    height: 50vh;
    display: flex;
    justify-content: center;
    transition: 0.8s ease-in-out;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.4);
}

section img{
    margin: 5% 0  12% 0; 
    height: 60vh;
    border: 10px solid #ffff;
    border-radius: 60%;
    transition: 0.8s ease-in-out;
}

/*--------------Main Content-------------------*/

main {
    margin: 12% 0 5% 0;
    display: flex;
    justify-content: center;
    transition: 0.5s ease-in-out;
}

main p {
    font-size: 42px;
    text-align: center;
}

main span{
    display: inline;
    transition: 0.5s ease-in-out;
}

main span:nth-child(1) {
    font-weight: 600;
}

main p span:nth-child(2) {
    font-weight: 300;
}


main:nth-child(6){
    margin:0;
    transition: 0.3s ease-in-out;
}

hr{
    text-align: center;
    width: 80%;
    margin: 0 25% 0 25%;
}

.hr-container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    margin: 5% 0; /* Adjust as needed */
}



.info{
    margin: 5% 0 0 0;
    text-align: center;
}

.info p {
    font-size: 32px;
    margin: 10px 0 10px 0;
}

.info h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    margin-top: 0; 
}

.info p:nth-child(3){
    font-size: 18px;
    margin: 4%  auto 2% auto; /* Adjusts the margin to center the paragraph */
    width: 50%;
    overflow: hidden;
    line-height: 1.7; /* Adjusts line height for better readability */
}

.info button{
    background-color: #282a35;
    color: white;
    height: 40px;
    border-style: none;
    width: 120px;
}

.info button{
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 6px 7px 5px rgba(0, 0, 0, 0.6);
}

.info button:hover{
    color: #282a35;
    background-color: transparent;
    border: 2px solid #282a35;
    transition: 0.3s ease-in-out;
    height: 45px;
    width: 125px;
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.4);
}

.social-links{
    font-size: 36px;
    height: 50px;
    overflow: hidden;
    margin: 0 0 4% 0;
}

.social-links i{
    padding: 0.5%;
    cursor: pointer;
    position: relative;
    top:50%;
    transform: translateY(-50%);
    transition: 0.3s ease-in-out;
}

.social-links i:hover{
    font-size: 44px;
    transition: 0.3s ease-in-out;
}